* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-1);
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bg-principal);
}

:root {
  --bg-principal: rgb(21, 21, 21);
  --bg-foto: rgba(34, 34, 34, 1);
  --linha-sessoes: rgba(76, 76, 76, 0.158);
  --place-holder: rgba(255, 255, 255, 0.842);
  /* --borda-baixo: rgb(255, 251, 0); */
  --borda-baixo: #ee7410;
  --text-1: rgba(255, 255, 255, 0.699);
}
.container,
.span,
.sectionTitle {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 10px;
  position: relative;
  margin-bottom: 10px;
}

/* HEADER */
header .logo {
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
}
.logo p {
  padding: 1px 0;
  color: var(--borda-baixo);
}

/* MAIN */
main .container {
  display: grid;
  grid-template-areas: "wellComeProfile wellComeProfile photoPerfil";
  grid-template-columns: repeat(2, 1fr) 1fr;
  border-bottom: 1px solid rgba(255, 255, 255, 0.356);
}

.wellComeProfile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 330px;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.wellComeProfile h1 {
  font-size: 3em;
  width: 600px;
  letter-spacing: 1.5px;
  display: block;
  padding: 10px;
}

.wellComeProfile span {
  font-style: italic;
  border-bottom: 1px solid var(--borda-baixo);
}

.wellComeProfile p {
  width: 500px;
  line-height: 1.5;
  padding: 10px;
}

.wellComeProfile .btn {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: start;
  padding: 10px;
}

.wellComeProfile .btn a,
.sectionTitle a,
form a {
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 10px 0px 10px 0px;
  border-bottom: 1px solid var(--borda-baixo);
}

/* PHOTO */
.container .photoPerfil {
  position: absolute;
  margin: 0 auto;
  top: -100px;
  right: 0px;
  width: 280px;
  height: 460px;
  background-color: var(--bg-foto);
}

.menuSociais {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  padding: 2px 0;
}

.container .menuSociais a {
  font-size: 1.5em;
}

/* HARDSKILLS*/

.hardSkills .container {
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

.hardSkills .span span {
  padding: 0 10px;
  font-size: 3em;
  color: var(--borda-baixo);
}

.hardSkills .span:last-child span {
  padding: 0 10px;
  font-size: 3em;
  display: block;
  width: 100%;
  text-align: end;
  color: var(--borda-baixo);
}

.skill h2 {
  margin: 10px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.logoSkill {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logoSkill img {
  width: 120px;
}

/* PROJECT */

.sectionTitle {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionTitle h1 {
  font-size: 3em;
  font-style: italic;
  padding: 0 10px;
}

.project .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project .projectInfo {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 440px;
  grid-template-rows: repeat(2, 1fr) auto;
  grid-template-areas:
    "imageProject"
    "imageProject"
    "title"
    "usedSkillsLogo"
    "links";
  gap: 10px;
  margin-bottom: 20px;
}

.imageProject {
  grid-area: imageProject;
}

.title {
  grid-area: title;
}

.title h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.1em;
}

.usedSkillsLogo {
  grid-area: usedSkillsLogo;
}
.usedSkillsLogo h3 {
  text-transform: uppercase;
  margin: 10px 0;
  word-spacing: 10px;
  font-size: 1em;
}

.linksProject {
  grid-area: links;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.contact h1 {
  font-size: 4em;
  padding: 0 10px;
}

.project .container a {
  font-size: 1em;
  align-items: center;
  border-bottom: 1px solid var(--borda-baixo);
  font-style: italic;
  letter-spacing: 1px;
}

.projectInfo .usedSkills {
  width: 100%;
}

/* CONTACT */

.contact .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid var(--linha-sessoes);
  gap: 10px 35px;
  margin: 0 auto;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact,
footer {
  background-color: var(--bg-foto);
}

.contact .infoContact h1 {
  margin-bottom: 30px;
}

.contact .infoContact p {
  line-height: 30px;
  padding: 0 10px;
}

.contact form input,
.contact form textarea {
  border: none;
  font-size: 1em;
  margin: 10px 0;
  padding: 10px 0px;
  border-bottom: 2px solid var(--linha-sessoes);
  background-color: var(--bg-foto);
  outline: 0;
  letter-spacing: 03px;
  resize: none;
}

form a {
  align-self: flex-end;
}

/* FOOTER */
footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0px;
}

footer .coopyRigth p {
  font-style: italic;
  font-weight: bold;
}

footer .menuFooter {
  display: flex;
  gap: 1em;
  font-size: 1.5em;
}
