@media (max-width: 600px) {

  .hardSkills .container {
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 10px;
    justify-content: center;
  }
  .contact .container {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 2px solid var(--linha-sessoes);
    gap: 10px 35px;
    margin: 0 auto;
  }

} 

@media(max-width:352px){
  .wellComeProfile h1 {
    margin-top: 60px;
  }
}

